<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "{% static 'css/photo_flex.css' %}">
</head>
<body>
  <img src = "{% static 'jpg/index0.jpg' %}">
  <img src = "{% static 'jpg/index1.jpg' %}">
  <img src = "{% static 'jpg/index2.jpg' %}">
  <img src = "{% static 'jpg/index3.jpg' %}">
  <img src = "{% static 'jpg/index4.jpg' %}">
  <img src = "{% static 'jpg/index5.jpg' %}">
  <img src = "{% static 'jpg/index6.jpg' %}">
  <img src = "{% static 'jpg/index7.jpg' %}">
  <img src = "{% static 'jpg/index8.jpg' %}">
  <img src = "{% static 'jpg/index9.jpg' %}">
    
</body>
</html>